extends base

block content
    .container.mb-5.pb-3
        .bg-light.shadow-lg.rounded-3.overflow-hidden
            .row
                include _sidebar
                // Content
                section.col-lg-8.pt-lg-4.pb-4.mb-3
                    // Launch default modal
                    a(type="button" href='#').btn.btn-primary.btn-shadow
                        | Add Order
                    // Basic table
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Order Num
                                    th Date
                                    th Customer
                                    th Total
                                    th Payment
                                    th Paid
                                    th Delivered
                                    th Shipping To
                                    th View
                                    th Delete
                            tbody
                                //- each order in orders
                                - for(i = orders.length - 1; i > -1; i--)
                                    tr
                                        td= orders[i].orderNum
                                        td= orders[i].date
                                        td= orders[i].customer.name
                                        td= `GHS ${orders[i].total}`
                                        td= orders[i].paymentMethod
                                        td= orders[i].paid
                                        td= orders[i].delivered
                                        td= orders[i].shippingMethod.title
                                        td
                                            a(href=`/dashboard/orders/${orders[i].id}` type="button" data-order=orders[i]).btn.btn-info.btn-icon
                                                i.ci-eye
                                        td
                                            button.deleteOrder(type="button" data-order=orders[i] data-bs-toggle="modal", data-bs-target="#delete").btn.btn-danger.btn-icon
                                                i.ci-trash
                                                
                include _deleteOrder
                