extends base

block content
    .container.mb-5.pb-3
        .bg-light.shadow-lg.rounded-3.overflow-hidden
            .row
                include _sidebar
                // Content
                section.col-lg-8.pt-lg-4.pb-4.mb-3
                    // Launch default modal
                    a(type="button" href='/dashboard/products/add').btn.btn-primary.btn-shadow
                        | Add Product
                    // Basic table
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Title
                                    th Actual Price
                                    th Discount Price
                                    th Stock Quantity
                                    th Edit
                                    th View
                                    th Delete
                            tbody
                                - for(i = products.length - 1; i > -1; i--)
                                    tr
                                        td= products[i].title
                                        td= products[i].price
                                        td= products[i].priceDiscount
                                        td= products[i].stockQuantity || 0
                                        td
                                            a(href=`/dashboard/products/${products[i].slug}/edit` type="button").btn.btn-info.btn-icon
                                                i.ci-edit
                                        td
                                            a(href=`/products/${products[i].slug}` type="button").btn.btn-secondary.btn-icon
                                                i.ci-eye
                                        td
                                            button.deleteProduct(type="button" data-product=products[i] data-bs-toggle="modal", data-bs-target="#delete").btn.btn-danger.btn-icon
                                                i.ci-trash
                                                
                include _deleteProduct
                